<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vocabulary</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="../static/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container nav-container">
            <a class="navbar-brand" href="{{ url_for('home') }}">Barrons GRE High-Frequency 333 Words Vocabulary List</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link active" href="{{ url_for('quiz') }}">Quiz</a></li>
                <li class="nav-item"><a class="nav-link active" href="{{ url_for('additional') }}">800 Words</a></li>
            </ul>
        </div>
    </nav>

    <div class="container pt-4">
        {% block content %}

        {% endblock %}
    </div>

    <script src="../static/jquery-3.7.1.min.js"></script>
    <script src="../static/popper.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>